#fixed {
  position:fixed;
  top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#B0B0B0;
	padding:20px;
}

#logo {
    float: left;
    padding: 0px;
}

#cse {
    width: 100px;
    float: left;
    padding: 20px;
}

#login-icon {
    width: 100px;
    float: left;
    padding: 20px;
}

#nav {
    position:fixed;
    top:124px;
	  left:0px
}

ul {
    list-style-type: none;
    width: 200px;
    background-color: #f1f1f1;
    height: 479px;
}

.loginform ul {
    height: 60px;
    width: 740px;
    padding: 185px;
}

#container {
    position:fixed;
    top:140px;
    left:237px;
    background: #FFFFFF;
    padding: 10px;
}

#container p {
  height: 457px;
  width: 1150px;
}

#footer {
  background: #B0B0B0 ;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
}
